/packages
/artifacts
/build
/JavaApp/.gradle
/JavaApp/build
/JavaApp/local_out
/Natives/AngelAuraAmethyst
/Natives/build
/Natives/external/UnzipKit/*
!/Natives/external/UnzipKit/UZKArchive.h
!/Natives/external/UnzipKit/UZKFileInfo.h
!/Natives/external/UnzipKit/UnzipKit.h
.DS_Store
xcshareddata/
xcuserdata/
project.xcworkspace/
/depends
/Natives/config.h
entitlements.codesign.xml
